In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [64]:
from sklearn.metrics import classification_report

In [75]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score,roc_auc_score,roc_curve,average_precision_score,recall_score

In [76]:
train_path="./DevanagariHandwrittenCharacterDataset/Train"
test_path="./DevanagariHandwrittenCharacterDataset/Test"

In [77]:
unique_labels=os.listdir(train_path)

In [78]:
def list_of_images(folder):
    return os.listdir(os.path.join(train_path,folder))

In [79]:
def read_image(folder,image):
    
    folder_path=os.path.join(train_path,folder)
    image_path=os.path.join(folder_path,image)
    image=plt.imread(image_path)
    return image.reshape(image.shape[0]*image.shape[1],)

In [80]:
def stacking_row_vectors(folder):
    images_list=list_of_images(folder)
    images=[]
    for img in images_list:
        images.append(read_image(folder,img))
    return np.array(images[0:1360]),np.array(images[1360:])

In [81]:
train_data=[]
cv_data=[]
for folder in unique_labels:
    train_folder_matrix,cv_folder_matrix=stacking_row_vectors(folder)
    train_data.append(train_folder_matrix)
    cv_data.append(cv_folder_matrix)
train_data=np.concatenate(train_data,axis=0)
cv_data=np.concatenate(cv_data,axis=0)

In [82]:
matrix=stacking_row_vectors(unique_labels[0])

In [83]:
train_labels=[]
cv_labels=[]
for folder_name in unique_labels:
    train_labels=train_labels+[folder_name]*1360
    cv_labels=cv_labels+[folder_name]*340

In [84]:
train_data=pd.DataFrame(data=train_data)

In [85]:
train_data['label']=train_labels

In [86]:
train_data

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62555,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
62556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
62557,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
62558,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
62559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9

In [87]:
cv_data=pd.DataFrame(data=cv_data)

In [88]:
cv_data['label']=cv_labels

In [89]:
cv_data

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15635,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
15636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
15637,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
15638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
15639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9

In [90]:
from sklearn.naive_bayes import GaussianNB

In [91]:
obj=GaussianNB()

In [92]:
features=np.array(train_data.iloc[:,0:1024])
labels=np.array(train_data.iloc[:,1024])

In [93]:
obj.fit(features,labels)

GaussianNB()

In [94]:
cv_features=np.array(cv_data.iloc[:,0:1024])

In [95]:
cv_actual_results=np.array(cv_data.iloc[:,1024])

In [96]:
cv_predicted_category=obj.predict(cv_features)

In [97]:
cv_predicted_category

array(['character_8_ja', 'character_35_tra', 'character_6_cha', ...,
       'digit_9', 'digit_9', 'digit_9'], dtype='<U25')

In [98]:
accuracy_score(y_true=cv_actual_results,y_pred=cv_predicted_category)

0.47154731457800514

In [99]:
from sklearn.decomposition import PCA

In [100]:
pca_obj=PCA(n_components=512)

In [101]:
data=pd.concat([train_data,cv_data])

In [102]:
data.shape

(78200, 1025)

In [103]:
data

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,character_10_yna
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15635,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
15636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
15637,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
15638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9
15639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,digit_9

In [104]:
x=np.array(data.iloc[:,0:1024])

In [105]:
x_new=pca_obj.fit_transform(x)

In [106]:
x_new

array([[-1.3981923 , -1.0862199 , -0.725621  , ...,  0.04548584,
        -0.02532412, -0.05763099],
       [-2.715242  , -0.3052572 , -0.9191478 , ..., -0.04994823,
        -0.08218776,  0.06839304],
       [-1.7563491 ,  0.35196105,  2.699523  , ..., -0.03895337,
         0.01350215, -0.02862757],
       ...,
       [-0.00665085,  1.189403  ,  2.6037698 , ..., -0.12563753,
         0.01509826,  0.11944852],
       [-0.61464024, -0.12391496,  0.46112344, ...,  0.03461962,
         0.00428267,  0.02580482],
       [ 0.24036966, -0.4700993 , -0.18575253, ...,  0.02226494,
         0.05022941, -0.0461821 ]], dtype=float32)

In [107]:
x_new.shape

(78200, 512)

In [108]:
x_train_new=x_new[0:62560,:]
x_cv_new=x_new[62560:,:]

In [109]:
obj.fit(x_train_new,labels)

GaussianNB()

In [110]:
cv_predicted_category=obj.predict(x_cv_new)

In [111]:
cv_predicted_category

array(['character_8_ja', 'character_10_yna', 'character_8_ja', ...,
       'digit_9', 'digit_9', 'character_11_taamatar'], dtype='<U25')

In [112]:
accuracy_score(y_true=cv_actual_results,y_pred=cv_predicted_category)

0.4563299232736573

In [113]:
cv_actual_results = np.array(cv_data['label'])

In [114]:
data = pd.concat([train_data,cv_data])
X = np.array(data.iloc[:,0:1024])

In [115]:
def cross_validation(n_eig_vectors):    
    pca_obj = PCA(n_components=n_eig_vectors)    
    X_new = pca_obj.fit_transform(X)    
    X_train_new = X_new[0:62560,:]    
    X_cv_new = X_new[62560:,:]    
    obj = GaussianNB()
    obj.fit(X_train_new,labels)    
    cv_predicted_category = obj.predict(X_cv_new)    
    return accuracy_score(y_true=cv_actual_results,y_pred=cv_predicted_category)

In [116]:
number_eig_vectors = [700,512,256,128,64,32,16,8,4,2,1]
D_performance = {}
for number in number_eig_vectors:   
    D_performance[number] = cross_validation(number)

In [117]:
D_performance

{700: 0.3953324808184143,
 512: 0.4611253196930946,
 256: 0.5033248081841433,
 128: 0.5636189258312021,
 64: 0.5490409207161125,
 32: 0.5322890025575447,
 16: 0.46611253196930946,
 8: 0.3159846547314578,
 4: 0.15920716112531969,
 2: 0.06611253196930947,
 1: 0.03618925831202046}